{$HOP_DOMAIN} {
  encode zstd gzip
  header Strict-Transport-Security "max-age=31536000"
  request_body {
    max_size 64KB
  }
  reverse_proxy 127.0.0.1:9000 {
    transport http {
      dial_timeout 5s
      response_header_timeout 330s
    }
  }
}
